/* 가로가 짧은 화면 */
@media screen and (max-width: 1300px) {
  .contents {
    display: flex;
    height: 97vh;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .contents__main {
    display: flex;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
  .clock-box {
    position: absolute;
    padding: 30px;
    top: 2%;
    right: 0;
    font-size: 30px;
  }
  .login-form input {
    color: white;
    font-size: 40px;
    text-align: center;
    transition: border-color 0.3s ease-in-out;
  }
  .login-form input:focus {
    border-color: tomato;
  }
  .login-form input::placeholder {
    color: white;
    font-family: "Mochiy Pop P One", sans-serif;
  }
  #greeting {
    font-size: 50px;
    transform: translateY(-100px);
  }
  .todo-box {
    display: flex;
    height: 70%;
    flex-direction: column;
    width: 500px;
  }
  #todo-form {
    margin-bottom: 10px;
  }
  #todo-form input::placeholder {
    color: white;
    font-size: 17px;
    font-weight: 500;
  }
  #todo-form input {
    color: white;
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    transition: border-color 0.3s ease-in-out;
  }
  #todo-form input:focus {
    border-color: tomato;
  }
  .todo-list__component {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
  }
  .todo-list__component span {
    font-size: 20px;
  }
  .todo-list__component button {
    right: 0;
    border: none;
    background-color: transparent;
    font-size: 25px;
    font-weight: 600;
  }
  #quote {
    position: absolute;
    bottom: 5%;
    width: 98vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #weather {
    padding: 30px;
    position: absolute;
    top: 2%;
    font-size: 20px;
  }
}
